<!-- Place Order/Reciept Page: Displays a confirmed order/reciept to user after a game is purcahsed. Shows all games purchased, their prices, purchase total, tax, and order total. Also displays the user's order history -->


{% extends "layouts/base.html" %}

{% block title %}reciept{% endblock %}

{% block body %}


<!-- Table to display order information -->
<h1>RECIEPT</h1>
<h2 style="text-align:center">THANK YOU FOR YOUR PURCHASE!</h2>
<p style="text-align:center">Thanks for using Group6 Games! We appreciate your business. Your game has been added to your Library to be installed when you're ready.</p>
<h3 style="text-align:left">ORDER #: {{ order_number }}  </h3>
<h4 style="text-align:center">ORDER OVERVIEW</h4>

<table style="width:100%">
  <tr>
    <th>Game Title</th>
    <th>Price</th>
  </tr>

  {% for item in result %}
  <tr>
    <td>{{ item[1] }}</td>
    <td style="text-align:right">$ <i>{{ item[2] }}</i></td>
  </tr>
  {% endfor %}

  <tr>
    <td></td>
    <td>
      <h3>SUBTOTAL: <i>${{ subtotal }}</i></h3>
      <h3>TAX: <i>${{ tax }}</i></h3>
      <h3>ORDER TOTAL: <i>${{ total }}</i></h3>
    </td>
  </tr>
</table>
{% endblock %}



<!-- Tables to display user's order history -->
{% block body_2 %}

<div>
  <h2>Order History</h2>
  <table>
    <tr>
      <th> </th>
      <th>Order Number</th>
      <th>Order Total</th>
    </tr>
    {% for order in order_history %}
    <tr>
      <td><!-- <button>View</button> --> </td>
      <!-- <td>05/22/2019</td> -->
      <td><i>{{ order[0] }}</i></td>
      <td><i>{{ order[2] }}</i></td>
      <td> </td>
    </tr>
    {% endfor %}
   
  </table>
</div>

{% endblock %}

